* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  /*  For carousel*/
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.a11y-hidden {
  position:absolute;
  left:-1000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

body {
	font-family: 'Nunito';
/*	background: #fafafa;*/
  font-size: 14px;
  padding-top: 53px;
  padding-bottom: 100px;
  color: #2e2e2e;
}

.with-overlay,
.with-overlay * {
  overflow: hidden;
}

body.with-spinner {
  overflow: hidden;
}

body.with-spinner:after {
  content: '';
  position: fixed;
  background: #efefef;
  opacity: .7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

body.with-spinner:before {
  content: '';
  position: absolute;
  background-image: url('../images/logo-square.png');
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2001;
  top: calc(50dvh - 25px);
  left: calc(50dvw - 25px);
  height: 75px;
  width: 75px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
}

@media (min-width: 784px) {
  body {
    font-size: 10px;
    padding-top: 65px;
  }

  p {
    font-size: 16px;
  }
}

/*li {
  list-style: none;
}
*/
a,
a:visited,
a:active {
  color: #3154AD;
  text-decoration: none !important;
}

a.link-as-button,
a.link-as-button:hover,
a.link-as-button:visited,
a.link-as-button:active {
  background: #2C7EF4;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none !important;
}

@media (max-width: 784px) {
  a.link-as-button,
  a.link-as-button:hover,
  a.link-as-button:visited,
  a.link-as-button:active {
    padding: 4px 8px;
  }
}

h1,
h2,
h3 {
  scroll-margin-top: 120px;
}

h1 {
  font-size: 32px;
}

h1 span {
  font-size: 38px;
  margin-bottom: 12px;
  display: block;
}

.index-page h1 {
  color: #fff;
}

h3 {
  font-size: 16px;
}

@media (max-width: 784px) {
  h1 {
    font-size: 24px;
  }
}

/*For carousel*/
.glider-contain {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.glider-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72px;
/*  border: 1px solid #d9d9d8;*/
/*  border-radius: 8px;*/
  margin: 4px 8px 4px 4px;
  background: #f3f5f9;
  border-radius: 8px;
/*  box-shadow: 0 2px 5px -1px rgba(50,50,93,.25), 0 1px 3px -1px rgba(0,0,0,.3);*/
  border: 1px solid #efefef;
}

.glider::-webkit-scrollbar {
  display: none;
}

.carousel-previous {
  position: absolute;
  left: -40px;
  top: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.carousel-next {
  position: absolute;
  right: -40px;
  top: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.carousel-previous img {
  width: 36px;
  transform: rotate(180deg);
}

.carousel-next img {
  width: 36px;
}

@media (max-width: 784px) {
  .carousel-previous,
  .carousel-next {
    top: 45px;
  }
}

@media (max-width: 1200px) {
  .carousel-previous {
    left: -16px;
  }

  .carousel-next {
    right: -16px;
  }

  .carousel-previous img {
    width: 36px;
  }

  .carousel-next img {
    width: 36px;
  }  
}



.main-header,
.main-footer,
.body-section {
  padding: 0 12px;
/*  width: 100%;*/
}

@media (min-width: 1080px) {
  .main-header,
  .main-footer,
  .body-section {
    padding: 0;
  /*  width: 100%;*/
  }
}

.body-section {
  margin: 0;
}

@media (min-width: 784px) {
  .main-header,
  .main-footer,
  .body-section {
    margin: 0 auto;
    max-width: 1080px;
  }

  .body-section {
    margin: 0 auto;
  }

  h1,
  h2,
  h3 {
    scroll-margin-top: 180px;
  }
}

.social-media-links img {
  width: 16px;
}
