.main-footer {
  margin: 36px auto 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.footer-links ul {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  list-style: none;
}

.footer-links a,
.footer-links a:hover,
.footer-links a:focus,
.footer-links a:visited {
  text-decoration: underline;
}

.footer-links li:first-of-type {
  margin-right: 8px;
}

.footer-copyright {
  color: #e34234;
  font-weight: bold;
  font-size: 11px;
}

@media (max-width: 480px) {
  .main-footer {
    flex-direction: column;
  }

  .footer-links ul {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .footer-links li:first-of-type {
    margin-right: 24px;
  }

  .footer-copyright {
    text-align: center;
  }
}